#### Analyzing 2019 CPS Data

##### Importing Libraries

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Fetching API data

In [ ]:
#from data_pipeline import fetch_census_data

In [ ]:
#fetch_census_data.cps_individual(force_api_call=True)

##### Loading dataset

In [17]:
# loading cps data

census_df=pd.read_csv("data/cps_individual.csv").drop(
                        ['Unnamed: 0', 'state', 'county'], axis=1)

In [18]:
# filtering for Chicago
# 562 rows x 27 columns
# -1 = yes
# 2 = no

census_df = census_df[(census_df['area'] == 16980) & 
                      (census_df['city code'] == 1)]

In [20]:
census_df

,area,city code,use internet at home,year of interview,household type,household size,employment,education,hispanic,race,...,cant afford internet,internet not available in area,no device for internet,no internet for other reason,internet comm with doctor,research health info online,electronic health monitoring,access health records online,would buy internet if lower price,use internet for online classes
31,16980,1,1,2019,7,3,7,43,2,4,...,-1,-1,-1,-1,2,2,2,2,-1,1
32,16980,1,1,2019,7,3,7,43,2,4,...,-1,-1,-1,-1,2,2,2,2,-1,-1
33,16980,1,1,2019,7,3,1,44,2,4,...,-1,-1,-1,-1,2,2,2,2,-1,-1
34,16980,1,1,2019,7,2,2,43,2,1,...,-1,-1,-1,-1,2,1,2,2,-1,-1
35,16980,1,1,2019,7,2,3,44,2,1,...,-1,-1,-1,-1,2,1,2,2,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3146,16980,1,1,2019,1,4,1,39,1,1,...,-1,-1,-1,-1,2,1,2,2,-1,2
3147,16980,1,1,2019,1,4,1,39,1,1,...,-1,-1,-1,-1,2,1,2,2,-1,-1
3148,16980,1,1,2019,1,4,1,43,1,1,...,-1,-1,-1,-1,2,1,2,2,-1,-1
3149,16980,1,1,2019,1,4,7,36,1,1,...,-1,-1,-1,-1,2,1,2,2,-1,-1
3150,16980,1,1,2019,7,1,1,46,2,1,...,-1,-1,-1,-1,1,1,2,1,-1,1