#### Analyzing 2019 CPS Data

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
#from data_pipeline import fetch_census_data

In [3]:
#fetch_census_data.cps_individual(force_api_call=True)

In [6]:
census_df=pd.read_csv("data/cps_individual.csv")

In [7]:
census_df

      Unnamed: 0  metropolitan statistical area  state  county
0              0                              0     17       0
1              1                              0     17       0
2              2                          16580     17       0
3              3                          16580     17       0
4              4                              0     17       0
...          ...                            ...    ...     ...
1854        1854                          19340     17       0
1855        1855                          19340     17       0
1856        1856                          37900     17     179
1857        1857                              0     17       0
1858        1858                          37900     17       0

[1859 rows x 4 columns]