## Analyzing 2019 CPS Data

This notebook contains the code used to wrangle, join, and analyze the November 2019 CURRENT POPULATION SURVEY (CPS) [Computer and Internet Use Supplement](https://www.census.gov/data/datasets/time-series/demo/cps/cps-supp_cps-repwgt/cps-computer.html).

All csv files can be found in the "data" folder of the [working](https://github.com/danielgrzenda/broadbandequity/tree/working) branch of our Broadband Equity Github repo.

##### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Fetching API data

In [2]:
from data_pipeline import fetch_census_data

In [3]:
fetch_census_data.cps_individual(force_api_call=True)

,area,city code,use internet at home,household id,household size,employment,education,hispanic,race,internet service provider,...,no device for internet,no internet for other reason,internet comm with doctor,research health info online,electronic health monitoring,access health records online,would buy internet if lower price,use internet for online classes,state,county
0,0,0,2,4105753710374,1,1,34,2,1,-1,...,2,2,-1,-1,-1,-1,2,-1,17,0
1,0,0,1,18047772102761,2,1,41,2,1,1,...,-1,-1,2,2,2,2,-1,2,17,0
2,0,0,1,18047772102761,2,5,43,2,1,1,...,-1,-1,2,2,2,2,-1,-1,17,0
3,16580,0,1,100360213006708,2,5,39,2,1,1,...,-1,-1,2,1,2,1,-1,2,17,0
4,16580,0,1,100360213006708,2,1,39,2,1,1,...,-1,-1,2,1,2,1,-1,-1,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3155,16980,0,1,748330222511001,3,1,40,2,1,1,...,-1,-1,1,1,2,1,-1,-1,17,0
3156,16980,0,1,715510174821001,1,1,44,2,1,1,...,-1,-1,1,1,2,1,-1,1,17,97
3157,19340,0,1,105150017007785,1,5,39,2,1,1,...,-1,-1,2,2,2,2,-1,2,17,0
3158,37900,0,1,10710021311579,2,1,40,2,1,1,...,-1,-1,1,1,2,1,-1,1,17,0
3159,37900,0,1,10710021311579,2,1,39,2,1,1,...,-1,-1,1,1,2,1,-1,-1,17,0

##### Loading dataset

In [4]:
# loading cps data

census_df=pd.read_csv("data/cps_individual.csv").drop(
                        ['Unnamed: 0', 'state', 'county'], axis=1)

In [5]:
# filtering for Chicago
# 562 rows x 27 columns
# -1 = yes
# 2 = no

census_df = census_df[(census_df['area'] == 16980) & 
                      (census_df['city code'] == 1)]

census_df.head(5)

,area,city code,use internet at home,household id,household size,employment,education,hispanic,race,internet service provider,...,cant afford internet,internet not available in area,no device for internet,no internet for other reason,internet comm with doctor,research health info online,electronic health monitoring,access health records online,would buy internet if lower price,use internet for online classes
31,16980,1,1,310604531644537,3,7,43,2,4,1,...,-1,-1,-1,-1,2,2,2,2,-1,1
32,16980,1,1,310604531644537,3,7,43,2,4,1,...,-1,-1,-1,-1,2,2,2,2,-1,-1
33,16980,1,1,310604531644537,3,1,44,2,4,1,...,-1,-1,-1,-1,2,2,2,2,-1,-1
34,16980,1,1,107163554710898,2,2,43,2,1,1,...,-1,-1,-1,-1,2,1,2,2,-1,-1
35,16980,1,1,107163554710898,2,3,44,2,1,1,...,-1,-1,-1,-1,2,1,2,2,-1,1

##### Demographics

In [7]:
demo_df = census_df[[
                'household id',
                'household size',
                'employment',
                'education',
                'race',
                'hispanic']]

demo_df

KeyError: "['hispanic '] not in index"

##### Internet Access

##### Internet Usage