### Individual ACS Data

[Documentation](https://www2.census.gov/programs-surveys/acs/tech_docs/pums/data_dict/PUMS_Data_Dictionary_2015-2019.pdf)

In [10]:
import numpy as np
import pandas as pd

In [11]:
from data_pipeline import fetch_census_data

In [13]:
fetch_census_data.acs5_individual(force_api_call=True)

        access to the internet  state  public use microdata area
0                            1     17                       3106
1                            0     17                       3411
2                            1     17                       3202
3                            3     17                       1900
4                            1     17                        104
...                        ...    ...                        ...
294344                       1     17                       3205
294345                       1     17                        900
294346                       3     17                       3409
294347                       1     17                       3501
294348                       1     17                       3106

[294349 rows x 3 columns]

In [8]:
# loading cps data

acs_ind=pd.read_csv("data/acs5_individual.csv").drop(
                        ['Unnamed: 0', 'state'], axis=1)

In [9]:
acs_ind

        access to the internet  public use microdata area
0                            1                       3209
1                            1                        900
2                            1                       3202
3                            0                       3412
4                            1                       3401
...                        ...                        ...
294344                       1                       3205
294345                       1                        900
294346                       3                       3409
294347                       1                       3501
294348                       1                       3106

[294349 rows x 2 columns]