### Validating Areal Interpolation

The purpose of this notebook is to demonstrate that our areal interpolation functions produce extensive and intensive statistics similar to known values.

In [41]:
import sys

# others will need to change the below line to point at broadbandequity directory
# this is necessary so that the jupyternotebook can load our package
sys.path[0] = '/Users/drewkeller/Desktop/CS/broadbandequity'

In [125]:
import matplotlib.pyplot as plt
%matplotlib inline
from data_pipeline.fetch_census_data import acs5_aggregate 
from data_pipeline import spatial_operations as so
import numpy as np
import pandas as pd
from IPython.display import display

We will use ACS 5-year aggregate data from 2019 for our validation. We are comparing to known values from CMAP that also rely on aggregated ACS data:

"CCA values are estimated by aggregating ACS data for census tracts and block groups. Data from tracts and block groups located in multiple CCAs is allocated proportionally based on the block-level distribution of population, households or housing units (as appropriate) from the most recent Decennial Census."

Our approach:
1. Start with tract-level population data from ACS.
2. Calculate tract-level population density using tract shapefiles.
3. Aggregate tract-level population to community areas via areal-weighted sum.
4. Aggregate tract-level density to community areas via areal-weighted mean. Multiply by community-area area to get population.
5. Aggregate tract-level density to community areas via population-weighted mean. Multiply by community-area area to get population. _Note: Realized retroactively that this is invalid and results in upward bias - density inherently should be weighted by area, not population. To validate population-weighted mean we would need to use another known statistic like income._
6. Compare calculated populations to known values (Source: [CMAP: 2021 CDS based on 2019 population data](https://datahub.cmap.illinois.gov/dataset/community-data-snapshots-raw-data)).

In [43]:
# 1. Start with tract-level population data from ACS.
tract_data = acs5_aggregate()[["estimated total population","tract"]]
tract_data['population'] = tract_data['estimated total population']
tract_data = tract_data.drop(columns='estimated total population')
tract_data.head()

    tract  population
0  630200        1825
1  580700        5908
2  590600        3419
3  600700        2835
4  611900        1639

In [44]:
# 2. Calculate tract-level population density using tract shapefiles.
tract_data = so.geographize(tract_data,'tract')
tract_data["density"] = tract_data['population']/tract_data.area
tract_data.head()

,commarea,commarea_n,countyfp10,geoid10,name10,namelsad10,notes,statefp10,tract,geometry,population,area,density
0,44,44.0,031,17031842400,8424,Census Tract 8424,None,17,842400,"POLYGON ((-87.62405 41.73022, -87.62405 41.730...",3082,0.000213,1.446427e+07
1,59,59.0,031,17031840300,8403,Census Tract 8403,None,17,840300,"POLYGON ((-87.68608 41.82296, -87.68607 41.823...",3511,0.000090,3.897121e+07
2,34,34.0,031,17031841100,8411,Census Tract 8411,None,17,841100,"POLYGON ((-87.62935 41.85280, -87.62934 41.852...",7142,0.000124,5.762165e+07
3,31,31.0,031,17031841200,8412,Census Tract 8412,None,17,841200,"POLYGON ((-87.68813 41.85569, -87.68816 41.856...",4586,0.000068,6.763118e+07
4,32,32.0,031,17031839000,8390,Census Tract 8390,None,17,839000,"POLYGON ((-87.63312 41.87449, -87.63306 41.874...",9209,0.000056,1.644183e+08

In [45]:
# 3. Aggregate tract-level population to community areas via areal-weighted sum.
community_pop = so.aggregate(tract_data,{'population' : 'areal sum'},'community_area','tract')
community_pop.head()

   community_area    population
0     ALBANY PARK  49961.187298
1  ARCHER HEIGHTS  13813.340737
2   ARMOUR SQUARE  13615.114045
3         ASHBURN  43493.698832
4  AUBURN GRESHAM  45990.552782

In [49]:
# 4. Aggregate tract-level density to community areas via areal-weighted mean. Multiply by community-area area to get population.
community_density_areal = so.geographize(so.aggregate(tract_data,{'density' : 'areal mean'},'community_area','tract'),'community_area')
community_density_areal['population'] = community_density_areal['density']*community_density_areal['area']
community_density_areal = community_density_areal[['community_area','population']]
community_density_areal.head()

    community_area    population
0          DOUGLAS  18756.276354
1          OAKLAND   4417.408055
2      FULLER PARK   2393.597361
3  GRAND BOULEVARD  22648.818032
4          KENWOOD  14178.445677

In [72]:
# 5. Aggregate tract-level density to community areas via population-weighted mean. Multiply by community-area area to get population.
community_density_pop = so.geographize(so.aggregate(tract_data,{'density' : 'pop mean'},'community_area','tract'),'community_area')
community_density_pop['population'] = community_density_pop['density']*community_density_pop['area']
community_density_pop = community_density_pop[['community_area','population']]
community_density_pop.head()

    community_area    population
0          DOUGLAS  22593.697698
1          OAKLAND   5637.476548
2      FULLER PARK   2634.166398
3  GRAND BOULEVARD  25133.248071
4          KENWOOD  17022.442742

In [157]:
# 6. Compare calculated populations to known values 

# first step: load validation data
validation_data = pd.read_csv('../data/CMAP_2019_comm_data.csv')[['GEOG','TOT_POP']]
validation_data['GEOG'] = [str(i).upper() for i in validation_data['GEOG']]
validation_data = validation_data.rename(columns={'GEOG':'community_area','TOT_POP':'known population'})
validation_data['community_area'] = validation_data['community_area'].replace({"O'HARE":"OHARE","THE LOOP": "LOOP"})
validation_data = validation_data.dropna()
validation_data.head()

   community_area  known population
0     ALBANY PARK       49805.99998
1  ARCHER HEIGHTS       13700.97018
2   ARMOUR SQUARE       13598.48056
3         ASHBURN       43355.99999
4  AUBURN GRESHAM       45909.00001

In [158]:
# second step: place calculated and known values side-by-side with errors
community_pop = community_pop.rename(columns={'population':'areal-weighted sum'})
community_density_areal = community_density_areal.rename(columns={'population':'areal-weighted mean'})
community_density_pop = community_density_pop.rename(columns={'population':'pop-weighted mean'})
validation_data = validation_data.join(community_pop.set_index('community_area'),on='community_area')
validation_data['areal-weighted sum error'] = validation_data['areal-weighted sum']-validation_data['known population']
validation_data = validation_data.join(community_density_areal.set_index('community_area'),on='community_area')
validation_data['areal-weighted mean error'] = validation_data['areal-weighted mean']-validation_data['known population']
validation_data = validation_data.join(community_density_pop.set_index('community_area'),on='community_area')
validation_data['pop-weighted mean error'] = validation_data['pop-weighted mean']-validation_data['known population']
validation_data.head()

,community_area,known population,areal-weighted sum,areal-weighted sum error,areal-weighted mean,areal-weighted mean error,pop-weighted mean,pop-weighted mean error
0,ALBANY PARK,49805.99998,49961.187298,155.187318,49961.187298,155.187318,56917.734415,7111.734435
1,ARCHER HEIGHTS,13700.97018,13813.340737,112.370557,13813.340737,112.370557,23458.726775,9757.756595
2,ARMOUR SQUARE,13598.48056,13615.114045,16.633485,13615.114045,16.633485,15600.298867,2001.818307
3,ASHBURN,43355.99999,43493.698832,137.698842,43509.988193,153.988203,49003.212330,5647.212340
4,AUBURN GRESHAM,45909.00001,45990.552782,81.552772,45990.552782,81.552772,49527.007153,3618.007143

In [159]:
# fourth step: add simple crosswalk

crosswalk = pd.read_csv("../data/chicago_internet.csv")[['name','total_pop']]
crosswalk['name'] = [str(i).upper() for i in crosswalk['name']]
crosswalk = crosswalk.rename(columns={'name':'community_area','total_pop':'crosswalk'})
crosswalk = crosswalk.replace({"O'HARE":"OHARE"})
validation_data = validation_data.join(crosswalk.set_index('community_area'),on='community_area')
validation_data['crosswalk error'] = validation_data['crosswalk']-validation_data['known population']

In [166]:
# third step: stats

print('Areal-weighted sum:')
print(f'Maximum error: {max(abs(validation_data["areal-weighted sum error"]))}')
print(f'Median error: {np.median(validation_data["areal-weighted sum error"])}')
print(f'Mean error: {np.mean(validation_data["areal-weighted sum error"])}')
print(f'RMS error: {np.sqrt(np.average(validation_data["areal-weighted sum error"]**2))}')
outliers5 = sum([1 if abs(i)>0.05 else 0 for i in validation_data['areal-weighted sum error']/validation_data['known population']])
outliers20 = sum([1 if abs(i)>0.2 else 0 for i in validation_data['areal-weighted sum error']/validation_data['known population']])
print(f'Community areas off by more than 5%, 20%: {outliers5},{outliers20}')
print('')

print('Areal-weighted mean:')
print(f'Maximum error: {max(abs(validation_data["areal-weighted mean error"]))}')
print(f'Median error: {np.median(validation_data["areal-weighted mean error"])}')
print(f'Mean error: {np.mean(validation_data["areal-weighted mean error"])}')
print(f'RMS error: {np.sqrt(np.average(validation_data["areal-weighted mean error"]**2))}')
outliers5 = sum([1 if abs(i)>0.05 else 0 for i in validation_data['areal-weighted mean error']/validation_data['known population']])
outliers20 = sum([1 if abs(i)>0.2 else 0 for i in validation_data['areal-weighted mean error']/validation_data['known population']])
print(f'Community areas off by more than 5%, 20%: {outliers5},{outliers20}')
print('')

print('Pop-weighted mean:')
print(f'Maximum error: {max(abs(validation_data["pop-weighted mean error"]))}')
print(f'Median error: {np.median(validation_data["pop-weighted mean error"])}')
print(f'Mean error: {np.mean(validation_data["pop-weighted mean error"])}')
print(f'RMS error: {np.sqrt(np.average(validation_data["pop-weighted mean error"]**2))}')
outliers5 = sum([1 if abs(i)>0.05 else 0 for i in validation_data['pop-weighted mean error']/validation_data['known population']])
outliers20 = sum([1 if abs(i)>0.2 else 0 for i in validation_data['pop-weighted mean error']/validation_data['known population']])
print(f'Community areas off by more than 5%, 20%: {outliers5},{outliers20}')
print('')

print('Simple crosswalk:')
print(f'Maximum error: {max(abs(validation_data["crosswalk error"]))}')
print(f'Median error: {np.median(validation_data["crosswalk error"])}')
print(f'Mean error: {np.mean(validation_data["crosswalk error"])}')
print(f'RMS error: {np.sqrt(np.average(validation_data["crosswalk error"]**2))}')
outliers5 = sum([1 if abs(i)>0.05 else 0 for i in validation_data['crosswalk error']/validation_data['known population']])
outliers20 = sum([1 if abs(i)>0.2 else 0 for i in validation_data['crosswalk error']/validation_data['known population']])
print(f'Community areas off by more than 5%, 20%: {outliers5},{outliers20}')

Areal-weighted sum:
Maximum error: 11163.32187874765
Median error: -14.702800242292142
Mean error: -975.0033615755689
RMS error: 2624.3243001499955
Community areas off by more than 5%, 20%: 14,2

Areal-weighted mean:
Maximum error: 11163.321878746778
Median error: -9.460204545499892
Mean error: -924.7923049156362
RMS error: 2658.132967193856
Community areas off by more than 5%, 20%: 15,3

Pop-weighted mean:
Maximum error: 144074.93685718856
Median error: 5647.21233952263
Mean error: 10293.690862051439
RMS error: 21373.79904503689
Community areas off by more than 5%, 20%: 67,31

Simple crosswalk:
Maximum error: 6046.38276
Median error: 0.0
Mean error: 192.82476575324677
RMS error: 1053.2252118963247
Community areas off by more than 5%, 20%: 4,1

Discussion:

Areal-weighted sum and mean produce very similar results, as expected. (Actually, in many cases, precisely the same results.) Both are within a few hundred residents of our validation data for most neighborhoods, but both have a handful of neighborhoods that they underestimate by up to 10,000 residents.

This is definitely cause for concern, but perhaps for a more complicated reason than the aggregation function not working, as the low median error and clustering of most results near the known value seem to suggest that the aggregation function likely works (unless the overlapping-measurement part is broken and the outliers have more overlapping tracts?).

Population-weighted mean overestimates _most_ neighborhoods by several thousand residents. On reflection, this is actually expected behavior because it's not really valid to take a population-weighted mean of population density; it makes sense that this would bias population results upwards. In other words, these results suggest the population-weighted mean function is working, but to confirm we may need to use a different validation variable.

The simple crosswalk method - one-to-one from tracts to community areas - performs best by a signficant amount. In fact, a majority (48/77) community areas obtain the exact value from this method! 

This does raise some questions. Are those 48/77 community areas ones in which tract boundaries align exactly? If so this result could make sense, although it would then be concerning why the aggregation function also didn't give exact results. The next step may be to inspect one of these community areas in depth to see if we can identify what is going on.

In [163]:
# save to CSV
validation_data.to_csv('validation_data')

In [164]:
# display in full
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(validation_data.round().convert_dtypes(convert_integer=True))

,community_area,known population,areal-weighted sum,areal-weighted sum error,areal-weighted mean,areal-weighted mean error,pop-weighted mean,pop-weighted mean error,crosswalk,crosswalk error
0,ALBANY PARK,49806,49961,155,49961,155,56918,7112,49806,0
1,ARCHER HEIGHTS,13701,13813,112,13813,112,23459,9758,13726,25
2,ARMOUR SQUARE,13598,13615,17,13615,17,15600,2002,13538,-60
3,ASHBURN,43356,43494,138,43510,154,49003,5647,43356,0
4,AUBURN GRESHAM,45909,45991,82,45991,82,49527,3618,45909,0
5,AUSTIN,93727,93913,186,93923,196,118394,24667,93727,0
6,AVALON PARK,9671,9596,-75,9596,-75,9644,-26,9713,42
7,AVONDALE,38118,38126,8,38126,8,42107,3989,38118,0
8,BELMONT CRAGIN,78550,78624,74,78624,74,83727,5177,78601,51
9,BEVERLY,19791,19834,43,19834,43,20944,1153,19791,0
10,BRIDGEPORT,34480,34288,-192,34288,-192,42044,7564,34540,60
11,BRIGHTON PARK,44156,44342,186,44342,186,54753,10597,44156,0
12,BURNSIDE,2006,1997,-9,1997,-9,2005,-1,2006,0
13,CALUMET HEIGHTS,12815,12810,-5,12810,-5,13231,416,12815,0
14,CHATHAM,31009,31093,84,31093,84,43827,12817,30967,-42
15,CHICAGO LAWN,51352,51184,-168,51184,-168,60611,9259,51352,0
16,CLEARING,24976,25015,39,25022,46,33524,8548,24976,0
17,DOUGLAS,21325,18756,-2569,18756,-2569,22594,1269,21353,28
18,DUNNING,43445,43418,-27,43420,-25,46703,3258,43445,0
19,EAST GARFIELD PARK,18934,18948,14,18948,14,23450,4516,18940,6
20,EAST SIDE,23691,23460,-231,23500,-191,35607,11916,23723,32
21,EDGEWATER,57649,48701,-8948,48701,-8948,105526,47877,57649,0
22,EDISON PARK,11112,11112,1,11117,5,11314,202,11264,152
23,ENGLEWOOD,22921,22873,-48,22873,-48,26006,3085,22921,0
24,FOREST GLEN,19405,19361,-44,19379,-26,21931,2527,19384,-21
25,FULLER PARK,2395,2394,-1,2394,-1,2634,240,2330,-65
26,GAGE PARK,37478,37215,-263,37215,-263,43923,6445,37478,0
27,GARFIELD RIDGE,37144,37124,-20,37134,-10,47450,10306,37207,63
28,GRAND BOULEVARD,22209,22649,440,22649,440,25133,2924,22643,434
29,GREATER GRAND CROSSING,30149,30233,84,30233,84,36201,6052,30149,0
30,HEGEWISCH,9121,8991,-130,9005,-116,9599,478,9089,-32
31,HERMOSA,23481,23531,50,23531,50,24851,1370,23481,0
32,HUMBOLDT PARK,55364,55018,-346,55018,-346,67034,11670,55364,0
33,HYDE PARK,27482,22498,-4984,22498,-4984,35750,8268,27482,0
34,IRVING PARK,53530,53472,-58,53472,-58,61153,7623,53530,0
35,JEFFERSON PARK,27503,27472,-31,27472,-31,29537,2034,27503,0
36,KENWOOD,17954,14178,-3776,14178,-3776,17022,-932,17954,0
37,LAKE VIEW,101316,90153,-11163,90153,-11163,107204,5888,101365,49
38,LINCOLN PARK,69465,62506,-6959,62506,-6959,82329,12864,69465,0
39,LINCOLN SQUARE,42103,42005,-98,42005,-98,55254,13151,42103,0
40,LOGAN SQUARE,72336,72427,91,72427,91,83410,11074,73277,941
41,LOWER WEST SIDE,33203,33047,-156,33047,-156,59951,26748,33203,0
42,MCKINLEY PARK,15177,15351,174,15351,174,18496,3319,15177,0
43,MONTCLARE,14318,14302,-16,14303,-15,14334,16,14267,-51
44,MORGAN PARK,21068,21600,532,21601,533,22635,1567,27114,6046
45,MOUNT GREENWOOD,19190,19184,-6,19188,-2,21585,2395,19190,0
46,NEAR NORTH SIDE,93318,84654,-8664,84654,-8664,133667,40349,93318,0
47,NEAR SOUTH SIDE,24729,19805,-4924,19805,-4924,23890,-839,24729,0
48,NEAR WEST SIDE,63170,63270,100,63270,100,104107,40937,63170,0
49,NEW CITY,39443,39471,28,39471,28,65246,25802,39508,65
50,NORTH CENTER,35543,35608,65,35608,65,42384,6841,35543,0
51,NORTH LAWNDALE,32073,32058,-15,32097,24,38476,6403,32073,0
52,NORTH PARK,18914,18891,-23,18891,-23,28009,9095,18914,0
53,NORWOOD PARK,38084,38716,632,38735,651,40222,2139,43405,5321
54,OAKLAND,7227,4417,-2810,4417,-2810,5637,-1590,7227,0
55,OHARE,13075,13535,460,16913,3838,157150,144075,12861,-214
56,PORTAGE PARK,64599,64617,19,64620,22,65982,1384,64605,6
57,PULLMAN,6840,6884,44,6884,44,7596,756,6840,0
58,RIVERDALE,7359,7321,-38,7322,-37,7902,543,7359,0
59,ROGERS PARK,55475,52542,-2933,52585,-2890,59799,4324,55475,0
60,ROSELAND,39162,39249,87,39249,87,41784,2622,39162,0
61,SOUTH CHICAGO,29936,28306,-1630,28306,-1630,41085,11149,29936,0
62,SOUTH DEERING,15475,15477,2,15477,2,46968,31493,15475,0
63,SOUTH LAWNDALE,72157,72056,-101,72098,-59,113279,41122,72157,0
64,SOUTH SHORE,52454,43774,-8680,43774,-8680,50848,-1606,50265,-2189
65,LOOP,38655,35947,-2708,35968,-2687,51958,13303,38655,0
66,UPTOWN,58979,53704,-5275,53722,-5257,86275,27296,58979,0
67,WASHINGTON HEIGHTS,26742,26641,-101,26641,-101,27912,1170,26742,0
68,WASHINGTON PARK,10969,10969,0,10969,0,16881,5912,10969,0
69,WEST ELSDON,19151,18974,-177,18974,-177,20045,894,19126,-25
70,WEST ENGLEWOOD,26346,26559,213,26559,213,28442,2096,26346,0
71,WEST GARFIELD PARK,16421,16414,-7,16414,-7,17588,1167,16415,-6
72,WEST LAWN,31886,31845,-41,31848,-38,42562,10676,31886,0
73,WEST PULLMAN,27038,26723,-315,26729,-309,28503,1465,30020,2982
74,WEST RIDGE,78466,77726,-740,77892,-574,84725,6259,78466,0
75,WEST TOWN,84698,84704,6,84704,6,110740,26042,83757,-941
76,WOODLAWN,22655,22920,265,22920,265,33542,10887,24844,2189